@keyframes moveAppear {
	from {
		transform: translateX(-1000px);
		opacity: 0;
	}
	to {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes bgOverlay {
	from {
		background-color: rgba(0,0,0,0);
	}
	to {
        background-color: rgba(0,0,0,.7);
    }
}

.bg-image {
    min-height: 80vh;
    background-image: url("../img/campus2.jpg");
    background-size: cover;
    background-position: bottom;
    position: relative;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    position: relative;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.7);
    animation: bgOverlay 3s;
}

#home-content h1, #home-content p {
	animation: moveAppear 3s 0.5s both;
}

@media (max-width: 768px) {
    .bgImage {
        min-height: 45vh;
    }
}

.featurette-img {
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    max-height: 400px;
}

.featurette-img:hover {
    transform: translateY(-5px);
}

.courses ul {
    list-style: none;
}

.courses ul li::before {
    background-image: url("../img/square-solid.svg");
    background-position: center;
    background-repeat: no-repeat;
    color: #b6795f;
    vertical-align:middle;
    padding-right: 10px;
    margin-right: 10px;
    content: "";
    
}

.card {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 500px;
    border: none;
    background-color: inherit;
}

.card .face {
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.06);
    transform-style: preserve-3d;
    transition: 0.5s;
    backface-visibility: hidden;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.card .face.front-face,
.card .face.back-face {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .face.front-face .profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.card .face.front-face .name {
    letter-spacing: 2px;
}

.card .face.front-face .designation {
    font-size: 0.8rem;
    color: #ddd;
    letter-spacing: 0.8px;
}

.card:hover .face.front-face {
    transform: rotateY(180deg);
}

.card .face.back-face {
    position: absolute;
    background: rgba(255, 255, 255, 0.06);
    transform: rotateY(180deg);
    padding: 20px 30px;
    text-align: center;
    user-select: none;
}

.card .face.back-face .fa-quote-left {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 1.2rem;
}

.card .face.back-face .fa-quote-right {
    position: absolute;
    bottom: 35px;
    right: 25px;
    font-size: 1.2rem;
}

.card:hover .face.back-face {
    transform: rotateY(360deg);
}





